body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Muli', 'Spoqa Han Sans', sans-serif;
  line-height: 1.41;
  user-select: none;
}

button:focus {
  outline: none;
}

img {
  -webkit-user-drag: none;
}
